.main{
    height:100vh;
    width:100vw;
    background-image: url(soccer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

input[type="email"],
input[type="password"],
input[type="name"] {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
  outline: none;
}

.login-section-id{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1{
    margin-bottom: 20px;
    color:#333
}

button{
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4c4c4c;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    margin-right: 8px;
  }